# {{ ansible_managed }}
nobind
dev tap

# Options
tun-ipv6
remote-cert-tls server
client
comp-lzo
persist-key
persist-tun
verb 3

# Remotes
remote-random
{% for remote in item.servers %}
remote {{ remote.server }} {{ remote.port }} {{ remote.protocol }}
{% endfor %}

# Crypto
cipher AES-128-CBC
auth SHA256
script-security 2
auth-user-pass {{ openvpn_gateway_openvpn_dir }}/{{ item.name }}.login.auth

<ca>
{{ openvpn_gateway_certificate | regex_replace('\n$','') }}
</ca>

{% if openvpn_gateway_tls_auth != None %}
key-direction 1

<tls-auth>
{{ openvpn_gateway_tls_auth | regex_replace('\n$','') }}
</tls-auth>
{% endif %}
