# {{ ansible_managed }}
nobind

dev {{ openvpn_gateway_connection.device }}

# Options
tun-ipv6
remote-cert-tls server
client
comp-lzo
persist-key
persist-tun
verb 3

# Remotes
remote-random
{% for remote in openvpn_gateway_connection.servers %}
remote {{ remote.server }} {{ remote.port }} {{ remote.protocol }}
{% endfor %}

# Crypto
cipher AES-128-CBC
auth SHA256
script-security 2
auth-user-pass {{ openvpn_gateway_openvpn_dir }}/login.auth

<ca>
{{ openvpn_gateway_connection.certificate | regex_replace('\n$','') }}
</ca>

{% if openvpn_gateway_connection.tls_auth != None %}
key-direction 1

<tls-auth>
{{ openvpn_gateway_connection.tls_auth | regex_replace('\n$','') }}
</tls-auth>
{% endif %}
