# {{ ansible_managed }}
client
dev tap
proto tcp
resolv-retry infinite
nobind
persist-key
persist-tun
ns-cert-type server
comp-lzo
verb 3
remote-random

{% for remote in item.servers %}
{% if remote.protocol == 'tcp' %}
remote {{ remote.server }} {{ remote.port }}
{% endif %}
{% endfor %}

route-delay
reneg-sec 0
auth-user-pass {{ openvpn_gateway_openvpn_dir }}/{{ item.name }}.login.auth
<ca>
{{ openvpn_gateway_certificate | regex_replace('\n$','') }}
</ca>
{% if openvpn_gateway_tls_auth != None %}
<tls-auth>
{{ openvpn_gateway_tls_auth | regex_replace('\n$','') }}
</tls-auth>
{% endif %}
