# {{ ansible_managed }}
# Déclaration des interfaces
# HACK: on force l'ajout d'un 0 pour vpn_if
# TODO: utiliser fw_start.sh pour générer automatiquement la configuration
int_if = "{{ openvpn_gateway_internal_iface }}"
vpn_if = "{{ openvpn_gateway_connection.device }}0"

# Nettoyage
set skip on lo0
set block-policy drop
scrub in all

# Règle NAT
nat on $vpn_if inet from $int_if:network:0 to any -> ($vpn_if)

# On refuse tout
block in log on $vpn_if all

# Autorisation des flux LAN -> VPN
pass on $vpn_if from ($int_if:network) to any keep state

